<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sending message with nodemailer</title>
  </head>
  <body>
    <form method="post" action="/">
      <input type="text" name="your full name" placeholder="Name" /><br />
      <input
        type="email"
        name="receiverEmail"
        placeholder="enter receiver email"
      /><br />
      <textarea name="message" id="" cols="30" rows="10"></textarea>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
